body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url('2.jpg'); /* Asegúrate de usar la ruta correcta */
    background-repeat: no-repeat;
    background-size: 100%;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(136, 166, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    margin: 0 0 20px;
    color: #333;
}

canvas {
    border: 1px solid black;
    background-color: #8c8686;
    margin-bottom: 20px;
}

.controls {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004080;
}
